
.code-cntr {
	padding: 20px 12px 15px 12px;
	background: #fff;
	border-radius: 8px;
	font-size: 14px;
	line-height: 21px;
	color: #1a1a1a;;
}
.code-cntr .code-tips {
	width: 100%;
	height: 36px;
	font-size: 17px;
	font-weight: 400;
	color: #1A1A1A;
	line-height: 36px;
	box-sizing: border-box;
	overflow: hidden;
}
.code-cntr .code-box {
	position: relative;
	width: 100%;
	margin-top: 6px;
	box-sizing: border-box;
	overflow: hidden;
}

.code-box .code-success{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
	opacity: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.code-box .code-success .code-success-icon {
	width: 44px;
	height: 44px;
	background: #D37561;
	border-radius: 50%;
	background-image: url("https://cdn-public.knowyourself.cc/kyapp_vest_post/2022/05/26/84b7afdced4d4bb283baa9140c3ab21f---88x88.png");
	background-repeat:  no-repeat;
	background-position: center top;
	background-size: contain;
}
.code-box .code-success .code-success-title {
	margin-top: 16px;
	margin-bottom: 13px;
	height: 22px;
	font-size: 15px;
	color: #D37561;
	text-align: center;
}
.code-background {
	width: 300px;
	height: 187px;
	background-position: 0 0;
	background-size: contain;
	background-repeat: no-repeat;
}

.code-screenshot {
	position: absolute;
	left: 12px;
	top: 0;
	width: 54px;
	height: 54px;
	background-position: 0 0;
	background-size: contain;
	background-repeat: no-repeat;
}

.code-drag {
	margin-top: 6px;
	position: relative;
	width: 100%;
	height: 48px;
}

.code-drag .code-left {
	position: relative;
	width: 68px;
	height: 48px;
	min-width: 68px;
	float: left;
	background-image: url("https://cdn-public.knowyourself.cc/kyapp_vest_post/2022/05/26/2d777d52bde94ac0b2cf595074a68313---136x96.png");
	 background-position: center right;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
}

.code-drag .code-range {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	position: absolute;
	left: 0;
	cursor: move;
	text-align: center;
	background-color: #1A1A1A;
	user-select: none;
	z-index: 9;
	opacity: 0.01;
	border: 1px solid black;
}
.code-drag .code-range-before {
	position: absolute;
	width: 100%;
	top: 18px;
	height: 8px;
	background: #E6E6E6;
	border-radius: 4px;
	z-index: 1;
}


.code-btn-cntr {
	margin-top: 8px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.code-btn-cntr .code-again {
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: url("https://cdn-public.knowyourself.cc/kyapp_vest_post/2022/05/26/1ffdb1ee154540b1a87944c00f0dded4---48x48.png") no-repeat center center;
	background-size: contain;
}

.code-btn-cntr .code-closed {
	width: 24px;
	height: 24px;
	cursor: pointer;
	background: url("https://cdn-public.knowyourself.cc/kyapp_vest_post/2022/05/26/3ccf36a9e0bd4651b89c89f4e0aed376---48x48.png") no-repeat center center;
	background-size: contain;
}